
.container{
  background-color: burlywood;
  font-size: 34px;
}
ol {
    font-size: 1.2rem;
  }
  
  .container {
    column-count: 3;
  }
  
  label {
    display: block;
  }
  
  input {
    margin: .4rem;
  }
  