#main_nav {
    position: absolute;
    right: 20px;
}
*{
margin: 2px;
padding: 3px;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
.nav-menu{
    list-style: none;
}

#main_nav li a {

    background-color: rgb(21, 78, 153);
    
}


#main_nav li a{
    font-size: 25px;
    
    color: rgb(245, 242, 242);
    text-decoration: none;
    padding: 8px 15px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#main_nav li :active,
#main_nav li a:hover {
    background-color: #70be17;
}