#main_nav {
    position: absolute;
    
}
*{
margin: 2px;
padding: 3px;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
.nav-menu{
    list-style: none;
}
#main_nav{
    margin: 20px;
    padding: 20px;
}

#main_nav li a {

    background-color: rgb(21, 78, 153);
    
}


#main_nav li a{
    font-size: 25px;
    
    color: rgb(245, 242, 242);
    /* text-decoration: none; */
    padding: 8px 15px;
    border-radius: 200px;
   position: top right;
}

#main_nav li :active,
#main_nav li a:hover {
    background-color: #70be17;
}

body{
    /* background-color: black; */
/* background-image: url(wallpaper.jpg); */
/* background-repeat: no-repeat; */
/* background: red url(wallpaper.jpg) no-repeat hight: 10px;; */
/* background-position: right; */
height: 100vh;
display: flex;

background: linear-gradient(to bottom right, #fe0a0a, #0017c5)

}

#test{
    margin: 200px 0 0 300px;
}