
@import url(https://fonts.googleapis.com/css?family=Tangerine);
body {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #2a2734;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    font-size: 50px;
    text-shadow: 0 0 15px yellow,0 0 25px blue;
    animation: light 1.5s linear infinite;
  }
  @keyframes light {
    0%{
        filter: hue-rotate(0deg);       

    }
    100%{
        filter: hue-rotate(360deg);
    }
  }
