
*{
    margin: 10px;
    padding: 0;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: transparent blue;
    border-radius: 10px;
    color: aqua;
    text-align: center;
    padding: 10px;
    
}

.para {
    text-align: center;
    background-color:  rgba(76, 0, 255, 0.437);
    height: 300px;
    width: 500px;
    /* margin: 5px; */
    padding: 30px;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient( to top left , rgb(64, 141, 9),rgb(22, 92, 132));

  height: 100vh;
    
    

}


.para2 {
    background-color: rgba(255, 0, 0, 0.481);
    text-align: center;
    width: 500px;
    height: 300px;
    display: inline;
    
    /* box-sizing: content-box; */
/* box-sizing: border-box; */
}
a.github:link{
    color: blue;
}
a.github:hover{
    color: white;
  }
  a.insta:hover{
    font-size: 150%;
    color: aqua;
  }
#link{
    text-decoration: none;
color: black;
font-size: 25px;
}

   
