div {
    width: 100px;
    height: 100px;
    background: red;
    /* position: relative; */
    position: absolute;
    animation: myfirst infinite;
    /* animation-direction: alternate; */
  }
  
  @keyframes myfirst {
    0%   {background: red; left: 0vw; top: 0vw;}
    25%  {background: yellow; left: 100vw; top: 0vw;}
    50%  {background: blue; left: 90vw; top: 90vw;}
    75%  {background: green; left: 0vw; top: 90vh;}
    100% {background: red; left: 0px; top: 0px;}
  }