*{
    margin: 0;
    padding: 0;
}
/* .menu{
    background-color: aqua;

    height: 50vh;
  
   
    
   
} */
.menulist{
    list-style: none;
    align-items: center;
height: 20vh;
display: flex;
background-color: aqua;
}
.menulist li{
font-size: 30px;
background-color: rgba(0, 0, 255, 0.508);
border-radius: 20px;
padding: 10px;
margin: 10px;
align-items: center;



}