*{
    margin: 0;
    padding: 0;
}
.menu{ 
    
    text-align: center;
}
.heder{
    position: sticky;
    top: 0px;
}
.menulist{
    list-style: none;
height: 10vh;
width: 100vw;
display: flex; 
align-items: center;
background-color: aqua;
justify-content: center;



}
.menulist li{
font-size: 30px;
background-color: rgba(0, 0, 255, 0.508);
border-radius: 20px;
padding: 10px;
margin: 10px;
align-items: center;



}